<template>
    <div class="crafting-details">
        <el-row>{{item}}</el-row>

        <el-row>
            <el-col>
                <img class="crafting-image" :src="'images/items/' +item.image" alt="Item picture">
            </el-col>

        </el-row>
        <el-button type="info">Fabriquer</el-button>
    </div>
</template>

<script>
export default {
    name: "CraftingDetails",
    props: {
        item: {
            type: Object,
            required: true
        }
    }
}
</script>

<style scoped>
.crafting-details {
    background-color: darkslategray;
}

.crafting-image {
    max-width: 10em;
}
</style>
