<template>
    <div class="container">
        <h1 class="title">Fabrication</h1>
        <el-checkbox-group v-model='selectedTabs' position="is-centered" class="block">
            <el-checkbox-button v-for="tab in tabs" :key="tab.id" :label="tab.name" @change="handleTabClick(tab)">
                {{ tab.displayName }}
            </el-checkbox-button>
        </el-checkbox-group>
        <el-collapse v-model="activeNames" @change="handleChange" accordion>
            <el-collapse-item v-for="item in displayList" :key="item.id" :title="item.displayName" :name="item.name">
                <crafting-details :item="item"></crafting-details>
            </el-collapse-item>
        </el-collapse>
    </div>
</template>

<script>
import CraftingDetails from "@/components/CraftingDetails";

export default {
    name: 'Crafting',
    components: {CraftingDetails},
    data() {
        return {
            tabs: [
                {
                    id: 0,
                    name: "all",
                    displayName: "Tout"
                },
                {
                    id: 1,
                    name: "survival",
                    displayName: "Survie"
                },
                {
                    id: 2,
                    name: "weapons",
                    displayName: "Armes"
                },
                {
                    id: 3,
                    name: "vehicles",
                    displayName: "Véhicules"
                },
            ],
            itemLists: [
                {
                    id: 0,
                    name: "campfire",
                    displayName: "Feu de camp",
                    category: "survival",
                    image: "feu_de_camp.png"
                },
                {
                    id: 1,
                    name: "skin_gourd",
                    displayName: "Gourde en peau",
                    category: "survival",
                    image: "gourde_vide.png"

                },
                {
                    id: 2,
                    name: "shotgun",
                    displayName: "Fusil à pompe",
                    category: "weapons",
                    image: "WEAPON_SHOTGUN_PUMP.png"
                },
                {
                    id: 3,
                    name: "double_action_revolver",
                    displayName: "Revolver double action",
                    category: "weapons",
                    image: "WEAPON_REVOLVER_DOUBLEACTION.png"
                }
            ],
            selectedTabs: ['all'],
            activeNames: ['1']
        }
    },
    computed: {
        displayList() {
            if (this.selectedTabs.includes('all')) {
                return this.itemLists
            }
            return this.itemLists.filter(item => {
                if (this.selectedTabs.includes(item.category)) {
                    return true
                }
            })
        }
    },
    methods: {
        handleTabClick(tab) {
            console.log(tab)
            if (tab.id === 0) {
                this.selectedTabs = ['all']
            } else {
                if (this.selectedTabs.includes('all')) {
                    const index = this.selectedTabs.indexOf('all');
                    this.selectedTabs.splice(index, 1);
                }
            }
        },
        handleChange(val) {
            console.log(val);
        }
    }
}
</script>
